.event-container {
    position: absolute;
    width: 1048px;
    height: 951px;
    left: 394px;
    top: 74px;

    background: #E3E3E3;

    padding-left: 128px;

    display: flex;
    flex-direction: column;
}

.event-container-header {
    position: absolute;
    width: 364px;
    height: 48px;
    left: 365px;
    top: 63px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;

    color: #000000;

    text-align: center;
}

.create-event-button {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 15px;
    gap: 10px;

    position: absolute;
    width: 140px;
    height: 32px;
    left: 820px;
    top: 114px;

    background: rgba(37, 124, 227, 0.9);
    border: 1px solid rgba(37, 124, 227, 0.9);
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    text-align: center;

    /* Character / Primary(inverse) */

    color: #FFFFFF;

}