.event-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 832.95px;
    height: 198px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    margin-top: 25px;
    flex: 1;
}
