.card-head {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 24px;

    width: 832.95px;
    height: 56px;

    background: #FFFFFF;
}


.event-name {
    width: 148px;
    height: 24px;

    margin-top: 16px;
    margin-left: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.85);
}


.event-organizer {
    position: absolute;
    width: 247px;
    height: 20px;
    margin-left: 254px;
    margin-top: 36px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
    
}

.event-office {
    position: absolute;
    width: 117px;
    height: 22px;

    margin-left: 691.95px;
    margin-top: 17px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    color: #1890FF;
}